.container {
  margin: 60px;
  display: grid;
  grid-row-gap: 10px;
}
.content {
  text-align: center;
  display: flex;
  justify-content: center;
}

.card1 {
  display: flex;
  flex-direction: row !important;
  width: 40%;
  border: none !important;
  border-bottom: 1px solid purple !important;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.decorated {
  text-decoration: underline !important;
}

.decorated:hover {
  color: purple;
  cursor: pointer;
}

.card1 img {
  width: 80px;
  height: 80px;
  margin: auto;
}

.star {
  background: url("../assets/star.png");
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.favorite {
  background: url("../assets/star2.png");
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card1 {
    width: 100% !important;
  }
}
