.container {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  text-align: start;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-top: 150px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-left: 10px;
}

.header:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
  border-bottom: 1px solid purple;
  margin-bottom: 10px;
  width: 70%;
}

.first {
  display: flex;
  flex-direction: row;
}

.showing {
  display: block;
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
.star {
  background: url("../assets/star.png");
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.favorite {
  background: url("../assets/star2.png");
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .container {
    width: 100% !important;
  }
  .ul {
    width: 100%;
  }
  li {
    width: 100%;
  }
}
